
        body {
            background: #110826;
            font-family: 'Inter', sans-serif;
            color: white;
            overflow-x: hidden;
            margin: 0;
            padding: 0;




             }

        /* Gradients & Animations */
        .btn-gradient {
            background: linear-gradient(90deg, #FF3596 0%, #9D35FF 100%);
            transition: 0.3s;
        }
        .btn-gradient:hover {

            opacity: 0.9; transform: scale(1.05);
        }





        /* Header area style Start */

        /* Background Images */
        #hero-section {
            background-image: linear-gradient(rgba(15, 7, 33, 0.4), rgba(15, 7, 33, 0.8)), url('../assets/hero-bg.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .mic-circle {
            background: linear-gradient(180deg, #FFD600 0%, #FF3596 50%, #9D35FF 100%);

            box-shadow: 0 0 40px rgba(157, 53, 255, 0.3);
        }

        .pulse {
             animation: pulse-animation 2s infinite;
            }
        @keyframes pulse-animation {
            0% { transform: scale(1); }
            50% { transform: scale(1.1); }
            100% { transform: scale(1); }
        }

        /* Header area style end */

         /* about style start  */
        hr{
    border: 1px solid var(--#FFFFFF, rgba(255, 255, 255, 1));
    opacity: 0.1;

}
    /* about style end  */